// font family :
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
$tmc_family:'Oswald', sans-serif;

// colors :

$tmc_primary:#04BF37;
$tmc_secondary:#0B0C0C;
$tmc_thirdly:#FCFEFD;
$tmc_fourthly:#1CA6E1;
$tmc_font_color:white;
$tmc_border_color:black;

// height & width 
$tmc_icon_height:35px;
$tmc_icon_width:35px;

// font-size :
$tmc_big_title: 54px;
$tmc_title_size:35px;
$tmc_link_size:18px;
$tmc_text_size:22px;
$tmc_resp_text_size:16px;

// padding :
$tmc_small_small_padding: 10px;
$tmc_small_padding: 20px;
$tmc_big_padding: 70px;

// margin 
$tmc_simple_margin: 20px;
$tmc_default_margin:60px;
$tmc_small_small_margin: 7px;

// font-weight : 
$tmc_big_title_weight: 800;
$tmc_simple_weight: 700;
$tmc_small_weight: 300;

// line-height : 
$tmc_big_title_line_height: 70px;
$tmc_text_line_height: 33px;

// padding : 
$tmc_simple_padding: 7px;
$tmc_default_padding:25px;
$tmc_link_btn_padding:30px;

// border-radius:
$tmc_default_border_radius: 50%;
$tmc_default_btn_radius:7px;

// border 
$tmc_default_border:2px solid $tmc_primary;
$tmc_small_border: 4px;
$tmc_big_border: 7px;