@use "../use.scss" as *;
@use "../atomes/svg.scss";
.button_simple {
    background-color: $tmc_primary;
    outline: 0;
    border: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: $tmc_small_small_padding;
    border-radius: $tmc_small_border;
    .simple_link{
        color: $tmc_thirdly;
    }
    .svg {
        margin-left: $tmc_small_small_margin;
    }
    &:hover {
        background-color: $tmc_secondary;
        transition: ease-in-out 1s;
    }
}